/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }


html {
    scroll-behavior: smooth;
  }
  body{
      font-family: 'Poppins', sans-serif;
      /* background-color: greenyellow; */
  }
  

  .box{
    margin-top: 3rem;
    margin-left: 3rem;
    width: 300px;
    height: 350px;
    border: 2px solid transparent;
    border-image: linear-gradient( 45deg,#ff0,#f0f,#f00,#00F,#0f0);
    border-image-slice: 1;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);

  }

